body {
    margin: 0;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 38%, rgba(0,212,255,1) 100%);
}

.progress-bar {
    height: 10px;
    width: 0%;
    background-color:red;
    position: fixed;
    top: 0;
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(245, 224, 255), rgb(195, 171, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  